## Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

## NuGet
*.nupkg
packages/
*.lock.json

## Data files - IMPORTANT!
Data/
*.csv
*.zip

## Server output folders
Server/Data/
Server/Logs/

## Test files
TestResults/
