<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<!-- WCF Client Configuration -->
	<system.serviceModel>
		<client>
			<endpoint
			  name="WindTurbineServiceEndpoint"
			  address="net.tcp://localhost:8080/WindTurbineService"
			  binding="netTcpBinding"
			  contract="Common.Contracts.IWindTurbineService"
			  bindingConfiguration="TcpBindingConfig"/>
		</client>

		<bindings>
			<netTcpBinding>
				<binding name="TcpBindingConfig"
						 maxReceivedMessageSize="2147483647"
						 transferMode="Streamed"
						 sendTimeout="00:10:00"
						 receiveTimeout="00:10:00">
					<readerQuotas maxDepth="2147483647"
								 maxStringContentLength="2147483647"
								 maxArrayLength="2147483647"
								 maxBytesPerRead="2147483647"
								 maxNameTableCharCount="2147483647"/>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>

	<!-- Data File Path -->
	<appSettings>
		<add key="DataPath" value="C:\Temp\Data"/>
	</appSettings>
</configuration>