<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<!-- WCF Service Configuration -->
	<system.serviceModel>
		<services>
			<service name="Server.Services.WindTurbineService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8080/WindTurbineService"/>
					</baseAddresses>
				</host>
				<endpoint
				  address=""
				  binding="netTcpBinding"
				  contract="Common.Contracts.IWindTurbineService"
				  bindingConfiguration="TcpBindingConfig"/>
			</service>
		</services>

		<bindings>
			<netTcpBinding>
				<binding name="TcpBindingConfig"
						 maxReceivedMessageSize="2147483647"
						 transferMode="Buffered">
					<readerQuotas maxDepth="2147483647"
								 maxStringContentLength="2147483647"
								 maxArrayLength="2147483647"
								 maxBytesPerRead="2147483647"
								 maxNameTableCharCount="2147483647"/>
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>

	<!-- Analytics Thresholds -->
	<appSettings>
		<add key="UnderPerformanceAlpha" value="0.75"/>
		<add key="YawMisalignThresholdDeg" value="15"/>
		<add key="FrequencyDeviationAbsHz" value="0.5"/>
		<add key="FrequencySpikeThresholdHz" value="0.2"/>
		<add key="DataStoragePath" value="Data"/>
	</appSettings>
</configuration>